node_modules
**/devBundle*
info.txt
debug.txt
error.txt

public/index.html

public/glib/data/*/*
!public/glib/data/*/*.default.*
!public/glib/data/*/scene.cnf

public/images/data/*/*
!public/images/data/bigimages/default*

.env
