node_modules
restart.sh
connectionstrings.json
sslcert/*
**/log.txt
**/devBundle*

public/glib/data/*/*
!public/glib/data/*/default*
!public/glib/data/*/scene.cnf

public/images/data/*/*
!public/images/data/bigimages/default*