
.grayout {
  position: fixed;
  width: 100%;
  height: 100%;
  animation: grayoutanimate 500ms forwards alternate ease-in 2;
}

@keyframes grayoutanimate {
  from { background-color: rgba(0, 0, 0, 0.01) }
  to { background-color: rgba(0, 0, 0, 0.6) }
}

.actionmodal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: actionmodalanimate 500ms forwards alternate ease-in 2;
}

@keyframes actionmodalanimate {
  from { transform: translateY(-100%) }
  to { transform: translateY(0) }
}

.actionmodalanimationpaused {
  animation-iteration-count: 1;
  animation-play-state: paused;
}

.actionmodalcontent {
  width: 320px;
  height: 480px;
  border-radius: 5px;
  border: 5px solid #0268A6;
  padding: 20px;
  z-index: 1;
  background: indianred;
}
