
.menu {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;

  padding: 25px;
}

.menuitem {
  background: linear-gradient(#0268A6, #2E3373);
  padding: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuitemtext {
  position: absolute;
  color: #F15722;
  font-size: 10em;
  z-index: 1;
}

.menuitemimage {
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
}
