
.budget {
  display: flex;
  flex-direction: column;
}

.budgetrow {
  display: flex;
  height: 30px;
}

.budgetrowtitle {
  background: lime;
  font-size: 1.5em;
  border-radius: 25px 25px 0 0;
}

.budgetcell {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.budgetcelltitle {
  justify-content: center;
}
